body {
    background-image: url(https://syamsulisme.files.wordpress.com/2015/06/thinking.jpg);
    background-blend-mode: color;
    background-size: 110%;
    background-repeat: no-repeat;
}

div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color:firebrick;
    font-weight:bolder;
    background-color:#ffffff;
    opacity: .8;
    width:50%;
}

h1 {
    font-size:40px;
    color:purple;
}